@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 184, 255);
}

.container {
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    max-width: 100%;
    height: auto;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: white;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.login-button button:hover {
    background-color: #5b55e3;
}

.input-group {
    margin-bottom: 1rem;
}

.input-box label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
}

.input-box input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s;
}

.input-box input:focus {
    outline: none;
    border-color: #6c63ff;
}

.gender-group {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.gender-input input {
    margin-right: 0.5rem;
}

.continue-button button {
    width: 100%;
    padding: 0.8rem;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.continue-button button:hover {
    background-color: #5b55e3;
}
